[2019-03-20 13:25] keitetran opened #1 "Pin map was wrong"
Can u check pin map a gain ?

[2019-03-20 18:20] bartekluk commented on #1
You have to connect reset to GPIO 16 the rest GPIO 19 and 20

[2019-03-21 02:39] keitetran commented on #1
Thankyou.

typing gpio readall will show table pin map

https://pinout.xyz/

Pin 1 (GND)	-->	pin 39 (GND)
Pin 7 (reset)	-->	pin 19 (GPIO24)
Pin 3 (DC)	-->	pin 36 (GPIO27)
Pin 4 (DD)	-->	pin 38 (GPIO28)

[2019-03-21 02:41] #1 closed

[2019-04-25 14:24] georgcampana opened #2 "error on page 0: byte 0x00 is 0x00 instead of expected 0x02"
Hi I have the same issue reported today by caisyew on the other project:

https://github.com/Koenkk/zigbee2mqtt/issues/1430#issuecomment-486674644

by flashing with a RPI a cc2531 stick I get an error during the verification for the first byte of the first page. It writes 0x00 instead of the 0x02 value taken from the Hex file.

Maybe this is a regression of your fix from yesterday.  Checking the c

[2019-04-25 19:54] jmichault commented on #2
Hello, i have made a workaround so that both tested files works.

Hex file is correctly loaded. The matter is in write phase. Sometimes the number of bytes wrote is not what is expected. I must investigate for a complete fix.

[2019-04-25 21:18] jmichault commented on #2
Fixed : we must write complete words to flash.

[2019-04-25 21:18] #2 closed

[2019-04-29 15:08] kianusch opened #3 "cc_write hangs"
I'm trying to flash a cc2530 via an raspberry and flash_cc2531.
It worked twice ... but not any more ... success is not reproducable.
Most of my tries hang on "page 1"

   writing page 1/127.

I have to press CTRL+C - to abort the flashing.

The ID gets recognized correctly - and I can also use cc_read to dump the current firmware.  So the raspberry setup and GPIO pins seem to be okay.

Reseting t

[2019-04-29 17:24] jmichault commented on #3
Hello,
i have only flashed cc2531 on my raspberry Pi 3 Model B+.
Timing can be a problem.

The timing is controlled by the cc_delay function in CCDebugger.c
You can try to change the multiplier on line 177 (actually 50).

What is the model of your raspberry ?

Have you tried different hex files ?

[2019-04-29 19:20] kianusch commented on #3
I'm using a raspberry pi zero.  Yep I tried different hex files.

Anyway - I solved my flashing problem, by taking your code - and also cc2530prog (which didn't work for me at) - and mixing both projects. I replaced most of the lowlevel codes in cc2530prog with the wiringPi code from your project - and it works now,

One thing not working, is - I can only flash sequential, starting at memory posit

[2019-05-01 14:43] AS137430 commented on #3
@kianusch: Can you publish your code for the cc2530prog + flash_cc2531 project? I'm waiting for my E18-MS1-PCB to be delivered. Thanks.

[2019-05-01 15:09] jmichault commented on #3
@kianusch: Glad that my code helped you.

[2019-05-03 16:59] kianusch commented on #3
You can find my code here ...

https://github.com/kianusch/flashPiCC

[2019-05-05 05:44] AS137430 commented on #3
@kianusch thanks. Will be trying your code soon

[2019-05-07 00:37] g27radio commented on #3
Good to know about the timing thing.  I ended up here because I was having a similar problem with my original Pi 3 which had a lot of other processes running on it.  So I tried it on a fresh Pi 3 B+ and it flashed and verified on the first try.

[2019-05-15 08:03] tallmantim opened #4 "Not sure if OK?"
Hi - thanks for the software!

With the id check I get a result of 3FFF or 7FFF.

The backup copy seems to work - but hangs at 1/128 when I try to write.

Is this likely to be a faulty USB? The green light goes out when I start working with it and have checked all the pin connections (with a multimeter to ensure it def linking through to the right port).

Thanks

[2019-05-15 08:27] tallmantim commented on #4
Damn - rechecked everything and I had the header cable around the wrong way.

I now just get a solid FFFF - so think by USB must be awry....

[2019-05-15 08:27] #4 closed

[2019-06-27 16:48] yozik04 commented on #3
1. Do not use 3.3V pin on Raspberry Pi. It may not provide enough power.
2. If you connect to the Pi via SSH, make sure you detach flashing process with nohup/tmux/screen or you will get lockups when the tool sends data to terminal.

[2019-08-05 14:22] ajain-93 commented on #3
I've tried flashing using this process twice now in a months time, and both times I've encountered this issue with getting stuck at `writing page   1/128`.

[code]

The way I managed to make it work was to before writing to the chip I made sure to erase the chip.

[code]

[2019-08-06 10:31] petrpulc opened #7 "Size of cc_delay variables"
Please prove me wrong, but if unsigned char is used as a type for cc_delay(), value of 200 is passed to the function and this value is multiplied by 50 in the function and stored to the same data type (unsigned char), the value inevitably overflows (to value of 16).

Is this a bug or a feature?

[2019-08-11 18:00] AdrienAA opened #8 "cc2531 wrong ID"
Hello,

I'm trying to flash my cc2531, but the ID returned after running "./cc_chipid" is "ID = 1fff ."
I don't know where could the problem be. I checked my wiring a hundred time an everything seems to be ok.

I have no idea what to do, can you help me please ?

[2019-09-03 10:21] imdos commented on #8
You have probably twisted your cable (from the USB-stick to the downloader cable). I have experienced this as well.

Place the red side of the cable either both next to 1 or the other side around.

[2019-09-03 10:28] imdos opened #9 "cc2531 won't be recognized by chipid."
I have bought a serie of CC2531 chips and tried to flash through flash_cc2531, but got stuck on recognition. I haven't tried to flash it and did a fall-back to CC-Debugger and the smartRF flash on Windows.

Everytime I try with the other chip I received I get the following:
ID = ffff.

With the right chip I receive the correct output:
ID = b524.

The output from dmesg.
With the working one:
`[ 665

[2019-09-08 10:53] eric-void commented on #9
I've the same issue. Found a solution?

[2019-09-08 12:07] imdos commented on #9
Yes, just flashed it with smartFR and the debugger without problems. Haven't bothered further to be honest.

[2019-09-11 22:15] marrold opened #10 "Stuck on verifying"
Hi, I am trying to flash a CC2531 with a Raspberry Pi 1 B+ V1.2, however it's getting stuck on "verifying page" :

[code]

[code]

[code]

[2019-09-11 22:29] marrold commented on #10
Appears to work fine on a Raspberry Pi 3:

[code]

[2019-09-13 07:04] luisapto702 commented on #10
Im using raspberry pi4 and I tried several times flash cc2531 and all times occured problems in verifying page

`error at 0x0, 0x0 instead of 0xff
verifying page ........`

someone help me?

[2019-09-23 16:45] AdrienAA commented on #8
Hello,

I finaly have time to come back on my Zigbee devices.

So, I tried everything (and also I have seen the problem of people twisting their cable, but I took care to put everything well. My problem remains the same. I even bought another CC2531 USB Dongle but nothing changes...
Do you have any idea of where I can investigate ?

Thanks for you help !

[2019-09-24 10:08] AdrienAA commented on #8
Well, I have tried eveything. I reinstalled WiringPi, I checked everything in the wiring, but I still get as an ID : ffff
Does anyone have an idea ? I'm using a Raspberry Pi 3B+ with the latest version of raspbian and no SSH connection.

[2019-09-24 11:40] imdos commented on #8
I've succesfully used it with a batch on a pi3b. I've had problems with my downloader cable though. After I got a new one it worked perfectly. Altough the cable seemed intact it didn't worked.

Otherwise power could be an issue maybe? Do you power the USB-stick from the Pi itself and do you have an appropriate power supply?

[2019-09-24 13:46] AdrienAA commented on #8
I bought a new cable for the stick, maybe this is the problem.
About the power supply I bought one specificaly for the Pi so I think I'm good.
If the problem is not the cable, what do you think I can do ?

[2019-09-24 13:57] imdos commented on #8
Complain to the vendor of the stick? I've had two "debug locked" sticks myself.
Maybe you could try to deduce the problem in your neighbourhood with someone who has a working environment?

[2019-09-25 10:04] AdrienAA commented on #8
Did you find any solution to bypass the "debug lock" ?
I'm afraid I don't have anybody around me who can help me

[2019-09-26 08:36] imdos commented on #8
No; not yet. I'm going to try once more with unitool from TI. I claimed my "broken" sticks with a dispute on Aliexpress.

P.S. I saw your cross post [here](https://github.com/Koenkk/zigbee2mqtt/issues/2024)

[2019-09-26 08:39] imdos commented on #10
Try it with a USB(2.0) hub. There appear to be some problems with the Pi4 and it's USB3. I have read a post of problems with an Aeontec Z-wave stick and Pi4 which was solved with a hub.

[2019-09-26 10:54] AdrienAA commented on #8
I will try to claim a broken stick.
Yes, I made a post on the official zigbee2mqtt git, to see if they could have any other information

[2019-09-27 12:05] imdos commented on #8
Did you use SmartRF (v1) (on Windows) or unitool from ti.com?

For some USB-sticks which are failing with flash_cc2531 ([see this topic](https://github.com/jmichault/flash_cc2531/issues/9)), I can just flash them using a CC-Debugger and SmartRF on Windows 10 perfectly fine.

[2019-09-30 11:10] AdrienAA commented on #8
Yes, I use SmartRF V1 on windows.
Is it possible to use it directly on raspbian ?

[2019-09-30 15:00] imdos commented on #8
No SmartRF only works on Windows AFAIK. But you have to use the CC-debugger and such as explained [here](https://www.zigbee2mqtt.io/getting_started/flashing_the_cc2531.html).

I've had 2 batches of cc2531 chips; one which I could flash with flash_cc2531 and my rPi3 and the others only through Windows,  CC-debugger and SmartRF. Which I explained in my [earlier post](https://github.com/jmichault/fla

[2019-10-01 05:21] fredrikgk commented on #8
Koenkk/zigbee2mqtt#2024 Impossible to flash CC2531

[2019-10-01 05:24] fredrikgk commented on #8
More details here: [#2024](https://github.com/Koenkk/zigbee2mqtt/issues/2024)

[2019-10-01 18:43] jmichault commented on #7
Obviously a bug. thanks.

[2019-10-02 14:06] jmichault commented on #7
Corrected.

[2019-10-02 14:06] #7 closed

[2019-10-02 18:37] AdrienAA commented on #8
Hello !
I bought a new cable to connect the dongle to the CCdebugger some times ago. It just arrived and everything worked ! So apparently the problem was only due to the cable.
Thanks a lot for your help ! I'm still trying to figure out the next steps, but finally I can go forward :)

[2019-10-02 18:37] #8 closed

[2019-10-03 14:35] jmichault commented on #3
Yes, that's how the firmware flash works.
You must erase before writing.

[2019-10-03 14:35] #3 closed

[2019-10-03 15:08] jmichault commented on #10
@luisapto702
Can you retry with last release. It contains some changes in timings.

[2019-10-08 13:03] ditek commented on #10
Related to this, verification after flashing the chip fails on RPi4 but succeeds on RPi3. I tried with the latest release.

[2019-10-10 20:05] jbrocks commented on #10
I am having the same issue on RPi 3. Are there any solutions or workarounds? Should the stick work when quitting at verification time?

[2019-10-10 20:27] jbrocks commented on #10
Okay found a quick solution for myself. I tried to flash using openhabian. Somehow this problem does not occur with my other SD card, with a clean Raspbian installation. Seems to be a software issue.

[2019-10-19 12:43] kornikkk commented on #10
Hi, I'm having the same issue on Raspberry Pi B+ and the latest commit. cc_read also won't work. I checked out commit 65b94487c6a0ae38f57e1aa1a35d79129c815faa and everything works perfectly. Something must be wrong after this commit...

[2019-10-22 11:06] wesselah commented on #10
I have excactly the same  issue verifing got stuck using the latest comment meaning using 65b9448 worked for me too.

[2019-11-07 03:09] hmoffatt commented on #10
I had a verification failure with the latest release on Pi3, but I ran it again and it worked ok.

    pi@raspberrypi:~/src/flash_cc2531 $ ./cc_erase
      ID = b524.
      erase result = 00a2.
    pi@raspberrypi:~/src/flash_cc2531 $ ./cc_write CC2531ZNP-Prod.hex
      ID = b524.
      reading line 15490.
      file loaded (15497 lines read).
    writing page 128/128.
    verifying page  91/128.

[2019-11-16 10:10] FF-Fox commented on #9
I had the same issue, this was the dmesg output:
<pre>[    3.353374] usb 1-1.2: new full-speed USB device number 4 using dwc_otg
[    3.505494] usb 1-1.2: New USB device found, idVendor=0451, idProduct=16ae, <b>bcdDevice=45.00</b>
[    3.520837] usb 1-1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=0
[    3.531805] usb 1-1.2: Product: CC2531 USB Dongle</pre>

I couldn't get it to work

[2019-11-18 08:02] ago19800 commented on #9
Hi I flashed with ccloader it seems to me all went well, but when I connect cc2531 to the raspberry is not recognized, advice?
Thanks

[2019-11-23 01:50] konyee commented on #9
I had same issue. Workaround: remove cc_delay_calibrate() from cc_init() an set cc_delay_mult=80. make it. after cc_chipid you should read ID=b522. Tested with rpi3b

[2019-11-23 22:56] AlmightyFrog commented on #9
Not sure If suggestion of @konyee did help me or not. I had issue that ID by cc_chipid was always ffff.

After changing @konyee sugestion I got at least different readings.
Mostly ID = b522, but sometimes also ID = 0088 and ID = 0000.

I just anyhow tried cc_write and it seemed to work flash correctly (at least it told verify successful). Also device is now recognized as USB ACM device and as per

[2019-11-23 23:51] ago19800 commented on #9
Sorry I didn't understand what to do.
Can you explain me better
Thanks

[2019-11-24 14:19] stheine commented on #9
Thanks for that info. In My case I had to set `cc_delay_mult=90` until `cc_chipid` finally responded with `b522`, but then I successfully flashed.

[2019-11-24 14:25] stheine commented on #9
@ago19800

After cloning the repo, edit `CCDebugger.c`, modify the line 177
[code]
into
[code]
and the line 83
[code]
into
[code]

save the file and call `make` to rebuild the binaries.
call `cc_chipid` and see if it responds with `b522`.
If not, you might have to repeat the above, setting the new value from `80` to `90` or any other number (in my case, the calculated value was `29`, so I tried th

[2019-11-25 12:11] ago19800 commented on #9
Thanks it works :)

[2019-11-25 21:51] ago19800 commented on #9
![IMG_20191125_151406_802](https://user-images.githubusercontent.com/56254637/69581075-2831ed00-0fd6-11ea-90a9-bd81225e225e.jpg)
![Uploading IMG_20191125_151138_373.jpg…]()

[2019-12-03 02:44] jdtsmith commented on #10
Same issue here with an RPI Zero W and Raspbian Buster. Any idea what would cause it to hang on:

[2019-12-03 23:52] jdtsmith commented on #10
Update: To avoid hanging on the "verifying page" during install on RPIZeroW Buster, I had to recompile with a "make". Then it works fine. Perhaps just remove the executables and have people compile their own version?

[2019-12-09 20:16] nistvan86 commented on #10
Going back to https://github.com/jmichault/flash_cc2531/commit/65b94487c6a0ae38f57e1aa1a35d79129c815faa solved it for me. Pi Zero, the older non W version. Recompiling HEAD was not enough.

[2019-12-13 00:17] ThePatcher80 commented on #9
and how i do that?
don't forget to call make to rebuild the binaries.

[2019-12-13 00:40] ago19800 commented on #9
You have to give only make. Stop

[2019-12-16 21:41] marrold commented on #10
Same issue with the Raspberry Pi 1 B+ V1.2 again. Reverted to 65b9448 as suggested and it's working.

[2019-12-18 16:02] eon123 commented on #10
I'm not so lucky as others here.  I'm getting the attached output when using a RPI 1B + V1.2 Sourcing with the latest version of the tools,, i.e. it's stuck at verifying page 1.  I tried reverting to [65b9448](https://github.com/jmichault/flash_cc2531/commit/65b94487c6a0ae38f57e1aa1a35d79129c815faa) as mentioned above but that version does not recognise the device at all and only outputs 0000's as

[2020-01-02 20:11] JonSilver commented on #9
This fix worked for me as well. I have 2 CC2531 USB boards with an external SMA antenna, and 2 with a PCB trace antenna. Before the fix, the SMA antenna boards were recognised fine, and could be programmed and verified. But the PCB trace antenna boards could not, having chip ID `ffff`.

After the fix, all the boards could be recognised, erased, written and verified.

@jmichault Can this fix not ju

[2020-01-04 13:40] jmichault commented on #9
The last release has increased delays for better stability and  a new command line option to force the multiplier delay : -m .
Can you try this ? For example:
./cc_write -m 100 FILE_TO_FLASH.hex

[2020-01-04 16:07] DmitriiMi opened #11 "incorrect hex file"
CC2531 with a Raspberry Pi 2B.
who had it?

[code]

[code]

[2020-01-05 13:53] dmitriimi commented on #11
Flashing via Arduino Nano with CCLoader

[2020-01-05 13:53] #11 closed

[2020-01-12 16:54] kornykorn commented on #9
I'm having the same issue on a pi 3b+ (with openhabian, also tried with raspbian).

Using the standard- settings, I receive ID 1fff, 3fff, 7fff or something simillar (xfff).
I changed the code like suggested (removed the calibrate-call) and tried delay-mult values from 0 to 300 - without succes.
low values lead to random IDs (most of the time eding with one or 2 times f, like xxff), mid-range valu

[2020-01-14 17:30] JoseAlcerreca commented on #10
Had the same problem in Rpi 1 B+ V1.2. Compiled master (just execute `make`) and it's working.

Verification is super slow though. I read the whole process would take 3 minutes but it's more like 1 page/minute.

[2020-01-16 21:13] grigio commented on #9
Tried https://github.com/jmichault/flash_cc2531/issues/9#issuecomment-558128187 with Raspberry Pi Model B Rev 2 but I always get `ID = 0000.`
[code]

[2020-01-17 10:23] grigio commented on #9
For me the problem of `ID = 0000.` was the Raspberry Pi Model B Rev 2.

I've used the esp8266 and it worked immediatly with the same wiring with this path https://www.zigbee2mqtt.io/information/alternative_flashing_methods.html#via-arduino-unoesp8266-with-ccloader-3hrs

[2020-01-17 21:04] kornykorn commented on #9
Found the issue - I had a broken wire. Now everything works like expected (Pi 3B+, Openhabian)

[2020-01-30 04:46] beikeland opened #12 "Update prerequisites (downdate?)"
The[ prerequisites section ](https://github.com/jmichault/flash_cc2531#prerequisites)lists a Raspberry Pi 3, but it also works just fine on a Pi 1 RevB using the the commands in the [using other pins section.](https://github.com/jmichault/flash_cc2531#using-other-pins) A clearer presentation would be

- Raspberry Pi
- wiringpi

I almost didn't try this because the prerequisites lead me to believe

[2020-02-02 18:56] jmichault commented on #12
You are right,

Done.

[2020-02-02 18:56] #12 closed

[2020-02-03 23:14] oscarlinux commented on #10
Hi, Were you able to make it work on rasberry PI 4? I keep getting id=ffff...   thanks!

[2020-02-04 03:39] oscarlinux opened #13 "flash cc2531 with raspberry PI4"
Hi, just wondering if this would work on a raspberry PI4. I'm following the steps but cc_chipid returns ffff. Has anyone been able to flash the cc2531 with a PI4? What other steps are required?

Thanks,
Oscar

[2020-02-05 18:42] dgericson commented on #13
Did you double check your wiring? That sounds like what your problem might be.

I am attempting to flash a cc2531 on a Pi4 as well. I can see the device, read it, and erase it, but cannot write to it.

[2020-02-06 03:02] oscarlinux commented on #13
I checked the wiring a couple of times but didn't find any issue. I even checked continuity and all looks  good :/

[2020-02-06 03:03] oscarlinux commented on #13
I checked the wiring a couple of times but didn't find any issue. I even checked continuity and all looks good :/

[2020-02-08 15:48] oscarlinux commented on #9
Thanks this worked for me!

[2020-02-09 19:56] JakeMannen commented on #10
I needed to use the "-m 300" timings flag on my Pi B+ for this to work. Otherwise it got stuck at "Verifying page"
Good work here by the way!

[2020-02-10 20:13] dgericson commented on #13
I don't know if was just coincidental or not. But I installed network-manager and purged modemmanager, and the flash procedure worked perfectly.

[2020-02-20 09:52] snakuzzo opened #14 "Flash CC2530 ?"
Hi, is it possible to flash a CC2530?
Flashing CC2530 with debugger I need to use also 3.3V pin...in your tutorial for CC2531 with Rpi 3.3V is not used.

[2020-02-25 21:33] tykarol commented on #9
I went around this problem using the "-m" parameter:

[code]

Maybe it will help someone else :)

[2020-02-28 19:11] leventebalogh commented on #10
**How to use on Pi 3 Model B**

Just like @JakeMannen said as well before the `-m 300` flag was needed in order to make the commands work, otherwise they returned with `id=ffff`.

This is what worked for me:
[code]

After this it works like a charm, amazing work, thanks! 🙏

[2020-03-05 20:25] gladius7 commented on #9
When entering the command:
./cc_chipid
  gives me
./cc_chipid: error while loading shared libraries: libwiringPi.so: cannot open shared object file: No such file or directory
though
git clone https://github.com/jmichault/flash_cc2531.git
set and transition I do
cd flash_cc2531
Can anyone help?
![cc2531a](https://user-images.githubusercontent.com/16937431/76022603-25795900-5f30-11ea-971f-f05bb24f0f

[2020-03-13 10:00] pepijnmm commented on #13
@oscarlinux Did it still not work?
It worked for me. I connected the cc2531 to a exernal power suply but for the rest I did nothing diffrent then the tutorial on: https://www.zigbee2mqtt.io/information/alternative_flashing_methods.html#with-raspberry-pi-3min

[2020-03-17 16:05] JaviElio commented on #14
I have tested it, and it also works with CC2530.
cc_chipid returns "a524"

[2020-03-24 17:12] magostinelli commented on #9
@gladius7  sudo apt-get install wiringpi

[2020-04-27 08:26] michaelturnbull commented on #13
I had an issue where cc_chipid was returning 0000 on my Raspberry Pi 4B. If anybody ends up here like me looking for an answer, in my case the problem was that the raspbian preinstalled version of wiringpi needs to be updated for the 4B. Once I updated I had no more issues.

http://wiringpi.com/wiringpi-updated-to-2-52-for-the-raspberry-pi-4b/

[2020-04-29 10:57] waltner commented on #10
Same here on a _Raspberry Pi 2 Model B Rev 1.1_. Thanks for the hint @JakeMannen ! :+1:
BTW, verification took about 2-3 sec per page.

[2020-05-18 20:42] elyorkhakimov opened #16 "issues compiling on odroid-c2"
OS:
[code]

Hardware:

[code]

running with WiringPi https://wiki.odroid.com/odroid-c2/application_note/gpio/wiringpi#tab__odroid-c2

Added few things to make sure Makefile compiles (the pre-compiled binaries would always say "directory not found"):

[code]

Running make yields some warnings.

[code]

Can these warnings be ignored?

Also, when running the binaries, getting some errors:

[code]

Ou

[2020-05-18 21:01] elyorkhakimov commented on #16
I might have found the reason why I had messages about "Not available for pin 28" -> this is a default setting. Once I changed to different pins I can now see a clean output. I have yet to connect the pins to the actual board itself.

[code]

The question about those compile time warnings remain, and plus I have a new question:
- on RPI3 the "V" column in `gpio readall` command yields "0" value fo

[2020-05-19 05:56] vladi4k commented on #14
Also works with Webee CC2530 + CC2591. You may have to try several times to flash and use extern 3.3V VCC not the Rpi 3.3V.

[2020-05-19 19:25] jmichault commented on #16
Hello,
i have corrected code to suppress this warnings.
My code has never been tested on 64 bits architecture, and on other hardware than raspberry, you are the first to test it.

"1" value should not be a problem, state of pins is forced at beginning.

You should try the "-m" option with different values. Higher values usually give slowest speed but better stability.

[2020-05-19 22:39] elyorkhakimov commented on #16
thanks for quick fix! I will test it out and report back shortly

[2020-05-20 02:50] elyorkhakimov commented on #16
Success!
I pulled from master, re-built binaries, and then did the flash.

[code]

[2020-05-20 08:36] jmichault commented on #16
Great. :+1:

[2020-05-20 08:36] #16 closed

[2020-06-14 12:25] Equidamoid commented on #9
Had the same problem, `cc_chipid` was giving either `0000` or `ffff`. Proposed changes in `CCDebugger.c` did nothing.

Solved by bending the pins on the board and using combination of slightly mangled dupont connectors and pieces of paper for isolation.

First flashing gave 5 errors, second one succeeded.

[2020-06-15 19:46] gtb08177 commented on #13
I am suffering the same behaviour described by @oscarlinux .

Running Raspbian Lite v10 on a Raspberry Pi 4 B 2Gb model. I am only ever getting 0000 for the cc_chipid step - both with normal wiring using depont cables and then using the alternative pins.

I tried going back through previous checkouts and unsuccessful.

NB. I have installed the latest wiring pi as well. Any help appreciated.

[2020-06-25 18:08] ljan commented on #9
@tykarol this should be in the tutorial! Thanks a lot

[2020-06-27 19:20] tngebauer commented on #13
Hey guys,
I had the same problem with my Raspberry Pi 4.
For me the follwing answer to another issue solved it:
https://github.com/jmichault/flash_cc2531/issues/9#issuecomment-558128187

[2020-06-28 18:47] gtb08177 commented on #13
Thanks for the heads up @Vaypron sadly did not resolve my issue. I am beginning to think it is my specific C2531 debugger- however i did buy 2 and from 2 different suppliers. In case anyone can help, here is a little bit more context around my setup.

hardware: Rasp Pi 4B 2Gb model

dmesg printout
`[ 4250.948247] usb 1-1.1: new full-speed USB device number 23 using xhci_hcd`
`[ 4251.085134] usb 1-

[2020-06-28 21:23] gtb08177 commented on #9
Hey @Equidamoid , I am seeing the same as you - could you go into a little bit more detail on the bending of pins and paper isolation? My depont cables seem to fit nicely but curious to the isolation piece.

Thanks

[2020-06-28 22:24] Equidamoid commented on #9
Hey @gtb08177,

Can't find any photos right now. The idea is to remove the plastic sleeves,
slightly compress the connectors from sides so they hold the thinner pins
better. The connectors still will not fit together though, so I bent the
required pins outwards a bit. They were still too close and touched each
other sometimes so I had to stick some pieces of paper in between.

On Sun, 28 Jun 2020,

[2020-06-30 17:22] jmichault commented on #13
Have you tried the -m option with different values ?
`./cc_chipid -m 200 -r 8 -c 0 -d 2`

[2020-07-05 19:01] koos147 opened #17 "chipid fa80"
Good day,

in all manuals i read if chipid is 0000 of ffff your wires are not correct.
i checked my wires multiple times. (and disconnecting any of them result in a chipid 0000)
but my id is fa80
when i use cc_erase i got
[code]

when i simply ignore the instructions and start writing the green led blinks once .

[code]
and it stay's at page 1 all the time.
if i do a ^C the chipid is changed to 00

[2020-07-24 14:44] MikeZMssl opened #18 "Directory not found using ubuntu on RPI 4b?"
Good afternoon,

After giving the command ./cc_chipid it says it cannot find the file or directory
~/flash_cc2531$  ./cc_chipid
-bash: ./cc_chipid: No such file or directory

I do have WiringPi installed (gpio version: 2.50)
Does it have to do that I am running on Ubuntu 64 bit version (20.04 LTS) ?

Many thanks for your help!

[2020-07-30 17:41] tvigouroux opened #19 "cc_chipid showing no id at all"
Hello

I am trying to reflash my cc2531 usb dongle with a source-routing firmware instead the default one. I am doing this through my rp4 (I haven't a cc debugger). When I flashed the default firmware it works flawlessly, but now, with the same setup when I check the wiring with cc_chipid I get no response at all, just came back to prompt. I googled for the same issue, but nobody describes that be

[2020-07-30 20:53] #19 closed

[2020-07-30 20:55] tvigouroux commented on #19
For some reason, Git get the repository cloned with all files empty. Removed all and downloaded again and it worked

[2020-08-04 19:59] paw-eloquent-safe commented on #13
[code]

Adding the -m option with a value of 200, worked for me using a RPi 4, thanks!

[2020-08-11 18:02] scaytrase commented on #18
Same problem here

[2020-08-11 18:05] MikeZMssl commented on #18
A New sd card with raspbian lite did it for me!

[2020-08-11 18:12] scaytrase commented on #18
I manager to install `libwiringpi-dev` and run `make` successfully. but got `0000.`. Checking my wires now

[2020-08-21 05:29] moskovskiy82 commented on #9
Increasing the value to 90 from default 80 helped!!!
Thanx. I believe this should be included in the zigbee2mqtt page

usb 1-1.3: New USB device found, idVendor=0451, idProduct=16ae, bcdDevice=45.00

[2020-09-08 04:29] AbaloneIron commented on #9
And don't be a dumb-ass like me. If you have an older Raspberry Pi, and don't have 40 pin bus, the defaults won't work. Do a "gpio readall" to see what you are working with, move some connections around to valid gpio's and use some of the switches that are available to the command. This worked for me when I got connected to my satisfaction: ./cc_chipid -r 2 -c 5 -d 4

Hope this makes sense.

[2020-09-19 15:01] DrDOIS commented on #9
I had the same issues, getting IDs like 1fff, 3fff and 7fff. In the end the issue was my assumption about the order of pins, which I counted like those of a MC (counter clockwise). Make sure you count them like on the Raspberry (There is even a 10 at Pin 10 which I read as IO).

[2020-10-14 22:44] jottr opened #20 "Flash of CC2531 hangs"
I am trying to flash the **CC2531** with the the [Z-Stack-firmware](https://github.com/Koenkk/Z-Stack-firmware) ([`CC2531_DEFAULT_20190608`](https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/Z-Stack_Home_1.2/bin/default)).

I have the **CC2531** connected to my RaspberryPI via GPIO-Pins (`Raspberry Pi Model B Rev 2`).

When trying to flash, `cc_write` hangs on the first page, see

[2020-10-17 18:30] megusta-01 opened #21 "Verifying takes several hours on CC2530"
I've a DRF1605H Module with CC2530 Chip, flashed over Rpi 3b. Writing process works fine and fast, but verifying takes several hours. Is it normal process?

[2020-10-17 18:51] megusta-01 commented on #21
I found the issue, I had also kodi running...

[2020-10-17 18:51] #21 closed

[2020-10-23 02:04] Kamilake commented on #9
![image](https://user-images.githubusercontent.com/15166740/96947888-4e7e4680-151f-11eb-92cc-a725bfc03602.png)
![image](https://user-images.githubusercontent.com/15166740/96947909-5938db80-151f-11eb-8fbe-1fc0f31ad46a.png)
Thank you very much! I completely solved the problem.
Set the value of cc_delay_mult to 500.

[2020-10-26 23:49] Jaren15949 commented on #20
I'm having the exactly same problem with the same pi board
@beikeland, could you please let us know what we are doing wrong?

[2020-11-22 22:44] Tobix99 commented on #18
@scaytrase did you get it to work? Have the same problem under Ubuntu 20.04.1 LTS aarch64 on my Pi 3 B

[2020-11-23 07:19] scaytrase commented on #18
If I remember correctly I moved to other flashing method. No luck with ubuntu 64 bit. I used wemos d1 mini (esp8266) as a intermediate flasher and then as a host device later.

https://zigbee.blakadder.com/flashing_ccloader.html

[2020-11-23 08:37] Tobix99 commented on #18
Ahh yes I couldn't got it working yesterday and used a Raspbian Lite Version like @MikeZMssl on another SD Card and this worked.

[2020-11-24 20:30] jottr commented on #20
Is anyone here who can help?
@beikeland maybe?

[2020-12-01 10:43] jottr commented on #20
Switching from a rPi 4 to an old model B seems to have done the trick.
Got it to work on the older rPi.
Not sure how this can be explained.
Anyways, it works now.

[2020-12-01 10:43] #20 closed

[2020-12-04 21:42] marcusds commented on #13
For those on pi Zero, I could not get it working until I updated to wiringpi 2.52. I then had to set the time multiplier to at least 75, but went higher just incase. (IE ./cc_chipid -m 80)

[2020-12-05 22:36] lslomczynski commented on #9
Hello everyone!

Just wanted to say:
- Thank you for providing your solutions!
- For mine CC2531 with external antenna the proper value of cc_delay_mult was 110 :-)

[2020-12-08 19:38] leo60228 opened #22 "wiringPi is deprecated"
http://wiringpi.com/wiringpi-deprecated/

The official download for wiringPi is also down indefinitely: https://git.drogon.net/

[2020-12-08 19:41] leo60228 commented on #22
libgpiod is the officially supported kernel interface for GPIO.

[2020-12-18 05:58] ravngr commented on #13
This was my experience too on a pi 4b. Raspbian stable installed 2.50 via apt for me and would alternate chip ID between 0000 and FFFF depending upon CLI options. Installing 2.52 fixed it and I was able to erase and flash successfully.

[2020-12-31 22:27] tdgeorge commented on #10
Rebuilding HEAD fixed the issue for me on a Pi 3B.

[2021-01-01 21:02] lnarolski commented on #9
In my case programming started working after changing from Raspberry Pi 4B to Raspberry Pi 3B and using [the solution above](https://github.com/jmichault/flash_cc2531/issues/9#issuecomment-557893592) (i had to set cc_delay_mult to 90)

[2021-01-09 23:11] MortenBrandstrup opened #23 "Can't open file CC2531ZNP-Prod.hex."
Running a Pi4 lite os.
thinks looks fine, until I try to flash:

pi@raspberrypi:~/flash_cc2531 $ ./cc_chipid
  ID = b524.
pi@raspberrypi:~/flash_cc2531 $ ./cc_read save.hex
  ID = b524.
 reading 256k/256kpi@raspberrypi:~/flash_cc2531 $ ./cc_erase
  ID = b524.
  erase result = 00a2.
**pi@raspberrypi:~/flash_cc2531 $ ./cc_write CC2531ZNP-Prod.hex
 Can't open file CC2531ZNP-Prod.hex
pi@raspberrypi:~/

[2021-01-22 16:26] geertmeersman commented on #9
For the ones with a Raspberry Pi 4:
Install the latest version of wiringpi =>
cd /tmp
wget https://project-downloads.drogon.net/wiringpi-latest.deb
sudo dpkg -i wiringpi-latest.deb

[2021-01-25 18:08] jmichault commented on #23
You need to download CC2531ZNP-Prod.hex from Z-Stack-firmware site :

https://github.com/Koenkk/Z-Stack-firmware/raw/master/coordinator/Z-Stack_Home_1.2/bin/default/

[2021-01-25 18:08] #23 closed

[2021-01-28 21:37] ragusa87 commented on #20
I have the same issue using an old raspberry (Raspberry Model B Revision 2). I was able to read and clear the firmware, but the writing hangs.

I did some test by changing the time base (`-m` flag) with no success.

[2021-01-28 22:16] ragusa87 commented on #20
I retried using a Raspberry PI 3B+, Revision: 03 and it works fine.

[2021-02-05 06:59] wang70880 commented on #9
Previously I also failed to get the correct ID. After several trials and errors, I found that I connected the debug port in the wrong direction. Hope this can help someone.

[2021-02-06 11:05] jmichault commented on #22
wiringpi is always in raspbian repository.
The official download is up, to install it, do this :
`wget https://project-downloads.drogon.net/wiringpi-latest.deb
https://project-downloads.drogon.net/wiringpi-latest.deb`
There is an active fork on github : https://github.com/WiringPi/WiringPi.

AFAIK There have been no announcements from the maintainers of raspbian for the removal of wiringpi from th

[2021-02-06 11:05] #22 closed

[2021-02-11 13:52] renatothome commented on #14
Hi all! I was able to flash the CC2530+CC2591 using this program in **RPi Pi 3b+** both firmware's 1 coordinator and 2 routes, but now I`m unable to **re-flash** the board again in order to updated the firmware. It keeps showing "ffff" when I run ./cc_chipid.

What I`ve tried:
- Run the steps using RPi Pi 3b+ (using several -m options "100", "200", "300")
- Run the steps using RPi Pi 3b+ and using

[2021-02-16 13:59] swimhero commented on #14
i do it well , and  when i let it work, it can not find the ttyACMO with the USB port

[2021-02-20 12:34] Stefan300381 commented on #10
another confirm that -m 300 fixed my frozen verification on raspberry Pi 1 Model B

[2021-03-08 18:02] Jtef commented on #9
I managed to successfully connect after I updated wiringpi as @geertmeersman indicated for Raspberry Pi 4.
Cheers!

[2021-03-08 18:27] leonfunnell commented on #22
WiringPi doesn't work on the Compute Module 4 / IO board.  "Oops - unable to determine board type... model: 20"
Also, the wiringpi C library also doesn't appear to work.  Trying to flash a Zigbee controller using https://github.com/jmichault/flash_cc2531

[2021-03-09 18:07] jmichault commented on #22
Have you tried what is suggested in the **[documentation](https://jmichault.github.io/flash_cc2531-dok/)** ?

[2021-03-09 18:26] leo60228 commented on #22
The Compute Module 4 is not the Pi 4.

[2021-03-09 18:28] leo60228 commented on #22
https://github.com/WiringPi/WiringPi master got support for the CM4 late last year, but as far as I can tell nobody's ever used or tested it (the PR comes with a disclaimer that it's untested).

[2021-03-09 18:30] leo60228 commented on #22
https://github.com/RPi-Distro/repo/issues/214#issuecomment-734402368

[2021-03-10 12:34] leonfunnell commented on #22
Ok - the following works on CM4.  This is the new place for WiringPi and it has a patch for CM4.
`git clone https://github.com/WiringPi/WiringPi.git`
`cd WiringPi`
`./build`

[2021-03-18 22:08] theshooter1844 commented on #9
Thank you so much. This saved me hours. I can confirm that RPi Model B Rev 2 doesn't use all the GPIO pins. With "gpio readall" I found out what pins were working, used the same ones: ./cc_chipid -r 2 -c 5 -d 4 connecting on the GPIO to pin13 (RST), pin18 (DC) and pin16 (DD). And got it finally to "flash OK".

[2021-03-22 16:00] ghost commented on #9
0000 and ffff with pi3 and default wires
![34CBB229-8964-4237-96C6-E4968B5FAA7C](https://user-images.githubusercontent.com/60626673/112019999-0c464900-8b41-11eb-9367-62882eed5466.jpeg)

[2021-04-05 17:49] philipp2310 commented on #9
to be honest I would say, you just short the pins with your setup

[2021-04-06 16:57] kirill-shershen opened #24 "is it compatible with orangepi pc plus arm7 with WiringOP?"
Hey,
I have installed orangepi pc plus with WiringOP
gpio readall
![image](https://user-images.githubusercontent.com/5936611/113749365-43f0eb80-9712-11eb-9cd6-7e7a257b196d.png)
is it posible to flash my cc2531 with this set?

[2021-04-06 18:31] kirill-shershen commented on #24
yes, it works on orangepi with WiringOP. I've checked it.

[2021-04-06 20:13] stevoh6 commented on #24
@kirill-shershen  could you please share link to wiringop repo/tutorial? I was trying to do it with orangepi, but I failed. So I went with esp option. Thanks.

[2021-04-08 15:45] kirill-shershen commented on #24
I've used this repo https://github.com/zhaolei/WiringOP.git with branch "h3".
**gpio readall** to check it.
When i downloaded **flash_cc2531** i've launch "make" and then **cc_chipid** and it show me **ID = b524**.
then connect pins like on this picture
![image](https://user-images.githubusercontent.com/5936611/114055465-78db7a80-9899-11eb-9f79-d9b162dfd6a1.png)
RPI pin layout here very similar wi

[2021-04-11 22:51] albertmonzo commented on #18
This is because the version included in the repo is 32 bit, you have to recompike with `make`. If running on ubuntu/debian you will also have to sort out wiringPi, first by adding `iomem=relaxed` to `/boot/firmware/cmdline.txt` and then downloading this wiringPI fork, applying the [patch here](https://github.com/WiringPi/WiringPi/issues/108#issuecomment-817384407) and then compiling wiringPI with

[2021-04-13 07:57] stevoh6 commented on #24
@kirill-shershen thank you very much :-) Now I know, where I made mistake :-)

[2021-04-26 09:48] #24 closed

[2021-05-01 12:36] topche commented on #9
I have some issue here.
I did change
static int cc_delay_mult=110;
and
//  cc_delay_calibrate();
make it again
and still have ID=0000

check the wiring and it is fine:

https://photos.app.goo.gl/vmNmipNFFUEqo5KV8

any ideas ?

[2021-05-01 15:27] jmichault commented on #9
On your photos, i have the impression you have connected 1,5,6 and 7 instead of 1,3,4 and 7 ?

![](https://jmichault.github.io/public/raspberry-cc.png "disposition _raspberry_ et _CC_")

| broche _GPIO_          | broche _CC_  |
| ---------------------- | ------------ |
| 39 ( _GND_ )           | 1 ( _GND_ )  |
| 36 ( _wPi 27, BCM16_ ) | 3 ( _DC_ )   |
| 38 ( _wPi 28, BCM20_ ) | 4 ( _DD_ )   |
| 3

[2021-05-01 16:29] topche commented on #9
You have correct impression :)

I lost my patience and did it with NodeMCU the flashing. Was success. All works now.

[2021-05-08 22:03] #17 closed

[2021-05-08 22:03] #13 closed

[2021-05-08 22:03] #14 closed

[2021-05-08 22:03] #10 closed

[2021-05-10 13:12] delta010 opened #25 "i cant flash CC2530"
I cant flash my brand new CC2530 with flash_cc2531, I am using raspberry pi zero w for flashing. but every time I run ./cc_chipid I get 'ffff' I did my wiring using this guide [https://www.zigbee2mqtt.io/information/alternative_flashing_methods.html#via-arduino-unoesp8266-with-ccloader-3hrs](url) , when I remove any of the wire I get a chip ide of '0000' please help me
![ffff](https://user-images.

[2021-05-16 17:27] koos147 commented on #17
strange.... as far as i can see there was never a reply.
So why is it closed?

[2021-05-19 01:13] duceduc commented on #9
Finally got it working. I was about to throw in the towel.
My issue was the power. Followed the guide on [zigbee2mqtt site](https://www.zigbee2mqtt.io/information/alternative_flashing_methods.html) suggesting an option to power the CC2531 board using the rpi zero gpio pin. After changing so many mult #s. It always show 000. Then, I plug the CC2531 board in an outlet for power and it finally output

[2021-05-20 10:34] Morphy99 commented on #14
Did you find a solution to this? I was going to try this but I don't want to brick my CC2530.

[2021-06-11 16:59] gumslone commented on #9
I successfully received the chip id with this command:

`./cc_chipid -m 100`

with simple `./cc_chipid` I always received fffff

[2021-06-17 23:40] #18 closed

[2021-07-14 19:57] g-gg commented on #20
Had the same problem on a older Raspberry Pi Model B+ V1.2 (hangs at 1/128) and fixed this issue by connecting the CC2531 to an external USB power supply. And voilà, it worked!

For the records: Default pin numbers and timing were fine. Cloned the repository from git, last commit was May 1, 2021.

[2021-08-12 00:15] Strand1984 commented on #10
another confirm that -m 300 fixed my frozen verification

[2021-08-17 17:37] #9 closed

[2021-08-27 09:16] NeOdYmS commented on #9
It worked for me
I edited CCDebugger.c

juste removed cc_delay_calibrate(); line

and did a $ make

Thanks a lot 🙏

[2021-08-31 12:55] Staxen commented on #10
Confirm that -m 300 worked for my verifying error too...

verifying page   1/128.
error at 0x0, 0xff instead of 0x2
verifying page   2/128.
error at 0x0, 0xff instead of 0x8
verifying page   3/128.
error at 0x0, 0xff instead of 0x12

[2021-10-07 00:19] Oddiwahn commented on #9
Worked for me on an OrangePI zero.
This helped me: https://jmichault.github.io/flash_cc2531-dok/de/

What I did:
1. get WiringPI for the OrangePI http://www.orangepi.org/Docs/WiringPi.html
2. I connected RESET to PIN 3, DC to PIN 5 and DD to PIN 7
3. I had to run ./cc_chipid which gave me "fffff"
4. Then I ran ./cc_chipid -r 0 -c 1 -d 2 -m 1 which gave me "b524"
5. repeating step 4 resulted in "ff

[2021-10-09 16:04] imHitchens opened #26 "Solution for some cc_chipid returning 0000"
Encountered the error where cc_chipid would only return 0000 (running wiringpi 2.52 on a rpi zero w)

Some cc2531 devices has a physical deubg button on the PCB. After plugging everything in, press that debug button and try again, it solved all my issues.

[2021-10-23 10:55] Oddiwahn commented on #10
-m 300 worked for me as well on Rpi3 B+, thanks!

[2021-12-15 17:47] #26 closed

[2022-01-03 10:32] ionitacristian82 opened #27 "cc_write uses hardcoded pin numbers"
cc_write.c uses hardcoded pin numbers and overwrites the values provided in CCDebugger.h or via command line.
Please replace the values of rePin, dcPin and ddPin with -1, so that cc_init() will be able to decide which values to use.

`int main(int argc,char *argv[])
{
  int opt;
  int rePin=24;
  int dcPin=27;
  int ddPin=28;
  int setMult=-1;`

[2022-01-15 21:19] #27 closed

[2022-01-19 10:48] byte4geek opened #28 "cc_read not read all lines"
Hi,
im backup the firmware from my cc2531 usb adapter, but i can read only 13566 lines
the original firmware have 15497 lines.

im using the command:
./cc_read -m 100 out.hex

original file size:  697099 bytes
-rw-r--r-- 1 pi pi 697099 Nov 28  2020 CC2531ZNP-Prod.hex
backup size: 597596 bytes
-rw-r--r-- 1 pi pi 597596 Jan 19 10:31 out.hex

i'm wrong somethings?

[2022-02-20 13:10] rumoldus opened #29 "wiringPi deprecated"
Hi, this project depends on wiringPi but that is no longer available. It cannot be installed anymore. So this flash software also will not run.
[Edit]
The instructions on zigbee2mqtt will not work, but this will:

cd /tmp
wget https://project-downloads.drogon.net/wiringpi-latest.deb
sudo dpkg -i wiringpi-latest.deb

So no issue, actually

[2022-03-05 19:02] Rubin523 opened #30 "Flash from OrangePI"
Hello!

I'm trying to flash CC2531 dongle from OrangePI Prime.

Correct ID = b524 I receive irregularly and only after executing cc_write.
For example:
`root@orangepiprime:~/flash_cc2531# ./cc_chipid -r 2 -c 0 -d 1 -m 100`
`  ID = ffff.`
`root@orangepiprime:~/flash_cc2531# ./cc_write router-cc2531-diag-usb.hex -r 2 -c 0 -d 1 -m 100`
`  ID = ffff.`
`  reading line 12550.`
`  file loaded (12557 line

[2022-03-27 04:05] xbmcnut opened #31 "Reading line 15280.incorrect hex file (incorrect length"
Anyone seen that before?

Trying to flash using Pi3B with Buster (all updated).

Result from `./cc_erase` =
[code]

Result from `./cc_write CC2531ZNP-Prod.hex` =
[code]
Tried m -100 and m -300 with same result.

CC_Flasher clone from here https://github.com/jmichault/flash_cc2531
Firmware downloaded from here https://github.com/Koenkk/Z-Stack-firmware/blob/master/coordinator/Z-Stack_Home_1.2/bin/d

[2022-03-27 04:30] xbmcnut commented on #31
Turns out downloading the file on Windows and extracting it then copying that to the Pi via USB was the problem. I downloaded the zip on the Pi directly in the end and then extracted it there and it worked first time! 2hrs of my life lost...lesson learned.

[2022-03-27 04:30] #31 closed

[2022-03-27 13:52] #28 closed

[2022-04-28 23:45] #29 closed

[2022-05-11 23:16] #30 closed

[2022-05-25 21:36] nobodyguy commented on #29
@rumoldus Keep a track of my fork - https://github.com/nobodyguy/flash_cc2531
I removed wiringPi dependency and replaced it with a standard libgpiod.
I'm still waiting for my CC2530 boards to arrive, so give me a week to be able to test my changes and push it.

[2022-07-12 13:30] Bagunda commented on #18
Same problem. The file exists. But the bash writes about the absence.

![image](https://user-images.githubusercontent.com/16766521/178501424-6bd6763b-ea68-41c2-8259-7fa30df636ec.png)

[2022-07-21 17:16] jcdel09 opened #32 "writing page 65/128.verification error"
hello,
chip it'is correct : ID = b524.
reading files OK:  reading line 15490.
  file loaded (15497 lines read).
have everytime one error at step 65.
writing page  65/128.verification error
somebody have an idea ? thanks

[2022-09-15 11:14] adiroiban commented on #22
you also need to (re)build for 64bit rpi OS.

But all good with getting WiringPI over git and rebuild the whole thing.

Thanks!

[2022-09-27 21:32] #32 closed

[2022-11-01 19:05] Jordanvdb commented on #32
@jcdel09 I face exactly the same issue, I also tried the previous version of cc_write where the verification takes place after everything has been written, but then I get 99 pages with an error.
Are you using a Raspberry Pi4? Wondering if it could have anything to do with it.
Not sure if it is a coincidence but page 65 is the first page after half the dataset..
@jmichault any ideas?

[2022-11-13 19:12] jcdel09 commented on #32
@Jordanvdb, thank for your come back.
I paused the project for the moment. I will take this one again this winter.
I use a Raspberry Pi3+
?